* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Tenali Ramakrishna", sans-serif;
}

.header {
  text-align: center;
  font-size: 2rem;
}

.btn {
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  background: rgb(155, 252, 171);
  outline: thin;
  color: white;
  text-shadow: 1px 1px 1px #474545;
  border-radius: 5px;
}

.btn--disabled {
  cursor: not-allowed;
}

.board {
  background: rgb(56, 63, 54);
  margin: 15px;
  width: 80%;
  height: 400px;
  border: 12px groove rgb(54, 207, 136);
  border-radius: 10px;
  letter-spacing: 1.5pt;
  font-size: 1.3rem;
  overflow-y: auto;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.board_game-process {
  color: white;
  padding: 2px;
  margin: 0px 10px 0px 5px;
}

.board_display-none {
  display: none;
}

.list_visibility > li {
  pointer-events: none;
  color: white;
}

.tiles {
  display: flex;
  justify-content: space-between;
  margin: 25px;
}

.tiles ul {
  list-style: none;
  margin: 0;
  padding: 0px;
  align-self: center;
}

.tile-items {
  cursor: pointer;
  margin: 2px;
  padding: 10px;
  width: 70px;
  font-size: 1.5rem;
  border: 1px solid black;
  text-align: center;
  letter-spacing: 5px;
  line-height: 6px;
}

.stock {
  margin: 5px;
  padding: 10px;
  position: absolute;
  top: 0px;
  right: 12px;
  cursor: pointer;
  border: 3px solid red;
  border-radius: 5px;
  color: rgb(24, 24, 44);
  font-weight: 600;
}

.container_info {
  display: flex;
  flex-direction: column;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container_info > div {
  text-align: center;
  width: 80%;
  margin: 10px;
  color: white;
  border-radius: 10px;
  text-shadow: 1px 1px rgb(46, 45, 45);
}

.alert--info {
  background-color: rgb(71, 168, 245);
}

.alert_danger {
  background-color: red;
  border: 1.5px solid rgb(241, 39, 39);
}

.alert_success {
  background-color: rgb(0, 255, 98);
  border: 1.5px solid rgb(87, 243, 113);
}

.container_game-over {
  position: absolute;
  top: 30%;
  right: 50%;
  transform: translate(50%, -50%);
  background: yellow;
  color: black;
  text-align: center;
  padding: 10px;
  display: none;
}

.container-win {
  background: linear-gradient(rgb(231, 115, 7), rgb(235, 127, 65));
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 98vw;
  height: 99vh;
  border-radius: 15px;
  text-align: center;
  font-size: 4rem;
  color: black;
  z-index: 2;
  display: none;
}

.container-win > button {
  cursor: pointer;
  font-size: 2rem;
  padding: 20px;
  border-radius: 5px;
}
